*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #798ad3;
    color: rgb(255, 255, 255);
    display: flex ;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width:50%;
}

.escola-titulo{
    color:rgb(43, 134, 92);
    
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.imagem{
    width: 20%;
    text-align: center;
    display: block ;
}